
/* SOCIAL BIO */


@font-face {
    font-family: Sofia Sans;
    src: url("assets/fonts/SofiaSansSemiCondensed-VariableFont_wght.ttf");
    font-style: normal;
} @font-face {
    font-family: Sofia Sans;
    src: url("assets/fonts/SofiaSansSemiCondensed-Italic-VariableFont_wght.ttf");
    font-style: italic;
}


body, .bio_ctnr, .bio_ctnr article {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height:100vh;
    background: #000c11;
    font-family: "Sofia Sans", sans-serif;
} body .bg_ctnr {
    position: absolute;
    inset:0;
    overflow: hidden;
    pointer-events: none;
} .bio_ctnr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 3rem 0;
    box-sizing: border-box;
} .greeting {
    text-align: center;
    font-size: clamp(1.2rem, 4.5vw, 1.4rem);
    margin-bottom: 1rem;
} .bio_ctnr article {
    width: clamp(15rem, 80vw, 25rem);
    flex-direction: column;
    gap: 0.8rem;
} .bio_ctnr article a {
    border: 0.1rem solid;
    border-color: #132537;
    font-size: clamp(0.5rem, 3.3vw, 0.92rem);
    padding: clamp(0.6rem, 4vw, 0.9rem) 0;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 0.4rem;
    transition: background-color 0.4s ease, border-color 0.4s ease;
    background-color: #0f2025;
    background-image: linear-gradient(180deg, #0002, #0000 60%);
    font-weight: 400;
} .bio_ctnr article a:hover {
    border-color: #0f6678;
    transition: background-color 0.05s ease, border-color 0.05s ease;
} .bio_ctnr article .flex_div {
    display: flex;
    justify-content: stretch;
    width: 100%;
    gap: 0.6rem;
} .bio_ctnr h1 {
    text-align: center;
    font-size: clamp(0.9rem, 4.5vw, 1rem);
    font-weight: 400;
    margin: 1rem 0 0;
    letter-spacing: 0.06rem;
    cursor: pointer;
} body .logo_anchor {
    margin: 0 0 3rem;
    padding:unset;
} .bio_ctnr .divider {

} body .background_block {
    position: absolute;
    opacity: 0.04;
    z-index: -1;
    filter: blur(0.2rem);
    height: 91vh;
    top: 0vh;
    right: 0vw;
}


.square09, .square08, .square07, .square06, .square04, .square03, .square02, .square01, .square05 {
    animation: blinksquare 9s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
} .square09 {
    animation-delay: 1.5s;
} .square08 {
    animation-delay: .1s;
} .square07 {
    animation-delay: .7s;
} .square04 {
    animation-delay: 1.8s;
} .square01 {
    animation-delay: .9s;
} .square02 {
    animation-delay: 2.2s;
} .square03 {
    animation-delay: 3s;
} .square06 {
    animation-delay: .4s;
} .square05 {
    animation-delay: 2s;
}

@keyframes blinksquare {
    0% {
        opacity: 1;
    } 20% {
        opacity: 0.4;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 1;
    }
}


@media screen and (min-width:900px) {
    

    

    body .background_block {
        display: unset;
        position: absolute;
        opacity: 0.04;
        z-index: -1;
        filter: blur(0.5rem);
        width: 80vw;
        height:unset;
        top: -23vw;
        left: -5vw;
        right:unset;
    }
}