body {
    color:var(--light);
}


@font-face {
    font-family: Sofia Sans;
    src: url("assets/fonts/SofiaSansSemiCondensed-VariableFont_wght.ttf");
    font-style: normal;
} @font-face {
    font-family: Sofia Sans;
    src: url("assets/fonts/SofiaSansSemiCondensed-Italic-VariableFont_wght.ttf");
    font-style: italic;
}


body, .bio_ctnr, .bio_ctnr article {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /* height:100vh; */
    background: #000c11;
    font-family: "Sofia Sans", sans-serif;
} body .bg_ctnr {
    position: fixed;
    inset:0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
} .bio_ctnr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 3rem 0;
    box-sizing: border-box;
    margin: 9vh 0;
} .greeting {
    text-align: center;
    font-size: clamp(1.2rem, 4.5vw, 1.4rem);
    margin-bottom: 1rem;
} .bio_ctnr article {
    width: clamp(15rem, 80vw, 45rem);
    flex-direction: column;
    gap: 0.8rem;
} .bio_ctnr article a {
    border: 0.1rem solid;
    border-color: #132537;
    font-size: clamp(1.3rem, 3.8vw, 1.75rem);
    padding: clamp(0.6rem, 4vw, 1.2rem) 0;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 0.4rem;
    transition: background-color 0.4s ease, border-color 0.4s ease;
    background-color: #0f2025;
    background-image: linear-gradient(180deg, #0002, #0000 60%);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.1rem;
} .bio_ctnr article a:hover {
    border-color: #00eeef5c;
    transition: background-color 0.05s ease, border-color 0.05s ease;
} .bio_ctnr .icon {
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} .icon.discord {
    background-image: url(../assets/icons/discord.svg);
} .icon.telegram {
    background-image: url(../assets/icons/telegram-logo-solo.svg);
} .icon.instagram {
    background-image: url(../assets/icons/instagram.svg);
} .icon.twitter {
    background-image: url(../assets/icons/twitter.svg);
} .icon.tiktok {
    background-image: url(../assets/icons/tiktok.svg);
} .icon.github {
    background-image: url(../assets/icons/github.svg);
} .icon.bscscan {
    background-image: url(../assets/icons/bscscan.svg);
}  .bio_ctnr article .flex {
    display: flex;
    justify-content: stretch;
    width: 100%;
    gap: 0.8rem;
} .bio_ctnr h1 {
    text-align: center;
    font-size: clamp(0.9rem, 10vw, 2.4rem);
    font-weight: 400;
    margin: 0 0 1.5rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
} body .logo_anchor {
    margin: 0 0 2rem;
    padding:unset;
    width: clamp(14rem, 62vw, 30rem);
} body .background_block {
    position: absolute;
    opacity: 0.04;
    z-index: -1;
    filter: blur(0.2rem);
    height: 91vh;
    top: 0vh;
    right: 0vw;
}

.bio_ctnr .divider {
    display: block;
    width: 100%;
    margin: 1.8rem 0 0.3rem;
    border-bottom: 0.1rem solid var(--darkgrey);
    padding: 0 0 0.4rem;
    color: var(--light);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
} .bio_ctnr .divider span {

}

.square09, .square08, .square07, .square06, .square04, .square03, .square02, .square01, .square05 {
    animation: blinksquare 9s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
} .square09 {
    animation-delay: 1.5s;
} .square08 {
    animation-delay: .1s;
} .square07 {
    animation-delay: .7s;
} .square04 {
    animation-delay: 1.8s;
} .square01 {
    animation-delay: .9s;
} .square02 {
    animation-delay: 2.2s;
} .square03 {
    animation-delay: 3s;
} .square06 {
    animation-delay: .4s;
} .square05 {
    animation-delay: 2s;
}

@keyframes blinksquare {
    0% {
        opacity: 1;
    } 20% {
        opacity: 0.4;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 1;
    }
}


@media screen and (min-width:900px) {
    

    

    body .background_block {
        display: unset;
        position: absolute;
        opacity: 0.04;
        z-index: -1;
        filter: blur(0.5rem);
        width: 80vw;
        height:unset;
        top: -23vw;
        left: -5vw;
        right:unset;
    }
}